<!DOCTYPE html>
<html>
<head>
    <title>Node Records</title>
</head>
<body>
    <h1>Node Records</h1>
    <a href="/add">Add New Record</a>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Server</th>
            <th>Port</th>
            <th>UUID</th>
            <th>Endpoint</th>
            <th>剩余每日流量告警阈值 (Gib)</th>
            <th>每月流量总额 (Gib)</th>
            <th>流量总额刷新日</th>
            <th>Actions</th>
        </tr>
        {% for record in records %}
        <tr>
            <td>{{ record['name'] }}</td>
            <td>{{ record['server'] }}</td>
            <td>{{ record['port'] }}</td>
            <td>{{ record['uuid'] }}</td>
            <td>{{ record['endpoint'] }}</td>
            <td>{{ record['threshold'] }}</td>
            <td>{{ record['total_amount_flow'] }}</td>
            <td>{{ record['net_refresh_date'] }}</td>
            <td>
                <a href="/update/{{ record['name'] }}">Edit</a>
                <a href="/delete?name={{ record['name'] }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <hr>
    <p></p>

    <h1>Rules</h1>
    <a href="/rule/add">Add Rule</a>
    <table border="1">
        <tr>
            <th>Rule</th>
            <th>Actions</th>
        </tr>
        {% for rule in rules %}
        <tr>
            <td>{{ rule }}</td>
            <td>
                <a href="/rule/update/{{ rule }}">Edit</a>
                <a href="/rule/delete?rule={{ rule }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <hr>
    <p></p>
    <a href="/">Back to Index</a>
</body>
</html>
